/* Rubik Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Rubik Font */

/* Horsemaker UI Resset CSS */
@import url("https://horsemaker-ui.netlify.app/stylesheets/reset.css");
/* Horsemaker UI Resset CSS */

/* Horsemaker UI Main CSS */
@import url("https://horsemaker-ui.netlify.app/stylesheets/main.css");
/* Horsemaker UI Main CSS */

.light-theme {
  --color-background: #ffffff;
  --color-background-accent: #e9e9e9;
  --color-foreground: #252525;
  --color-note-1: #714c40;
  --color-note-2: #5e4b2f;
  --color-note-3: #555839;
  --color-note-4: #2f5256;
  --color-note-5: #5b415f;
  --color-note-6: #6c3f4e;
  --color-note-7: #395956;
}

.dark-theme {
  --color-background: #252525;
  --color-background-accent: #3b3b3b;
  --color-foreground: #ffffff;
  --color-note-1: #ffab91;
  --color-note-2: #ffcc80;
  --color-note-3: #e6ee9b;
  --color-note-4: #80deea;
  --color-note-5: #cf93d9;
  --color-note-6: #f48fb1;
  --color-note-7: #80cbc4;
}

.app {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Buttons */
.btn-primary {
  background-color: var(--color-foreground);
  color: var(--color-background);
}
/* Buttons */

/* Links */
.link {
  color: var(--color-foreground);
}
/* Links */
