.note-card {
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.color-note-bg.note-card {
  outline: 1px solid var(--color-background-accent-two);
}

.note-card-priority-and-pin {
  display: flex;
  align-items: center;
}

.note-card-priority {
  flex-grow: 1;
}

.note-card-priority > h6 {
  width: min-content;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--color-foreground);
}

.note-card-title {
  font-size: 1.25rem;
  font-weight: 500;
  flex-grow: 1;
}

.note-card-pin {
  color: var(--color-background-accent-three);
}

.note-card-details {
  word-wrap: break-word;
  word-break: break-all;
}

.note-card-details img {
  width: 100%;
}

.note-card-details > ol,
.note-card-details > ul {
  margin-left: 1.5rem;
}

.note-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.note-moment {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  /* color: var(--color-background-accent-three); */
}

.note-moment-icon {
  font-size: 1.25rem;
}

.note-card-actions {
  display: flex;
  gap: 0.25rem;
  color: var(--color-background-accent-three);
}

.btn-hover {
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.btn-hover:hover {
  background-color: var(--color-background-accent-one);
}
